html {
color: brown;
}
video {
	width: 400px;
}
#play {
	width: 35px;
	height: 35px;
	position: absolute;
	top: 235px;
	left: 15px;
}
#progress {
	height: 20px;
	width: 325px;
	position: absolute;
	top: 245px;
	left: 65px;
}
